html{
  height: auto;
  margin: 0;
  padding:0;
}
body{
  padding:0;
  margin:0;
  height:auto;
}
a{
  text-decoration: none;
}
#banner_wrap {
  width: 100%;
  height: 500px;
  margin: 0px auto;
  padding: 0;
  position: relative
}

.banner_content {
  width: 100%;
  height: 100%;
  position: relative
}

.banner {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: no-repeat center center
}

.map { position: absolute }

.banner_nav {
  position: absolute;
  right: 18px;
  bottom: 30px;
}
.banner_nav ul{
  margin: 0;
}
.banner_nav ul li {
  float: left;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 8px 0 0;
  cursor: pointer;
  border-radius: 7px;
  background: rgba(224,224,224,0.8);
}

.banner_nav ul li.curr { background: rgba(255,255,255,1); }

#banner0 { background-image: url(imagenes/slideUno.jpg);
             background-size:cover;
             
              }

#banner1 { background-image: url(imagenes/slideDOS.jpg); 
 background-size: cover;

}

#banner2 { background-image: url(imagenes/slideTRES.jpg);
 background-size:cover;
 background-position: top; 


}
#banner2 span{
  color: #333333;
  font-family:'Roboto';
  font-weight: bold;
  } 
#masinfo{
  z-index:0 ;
  position:static;
  margin-top: 20px;
  margin-left: 0;
  font-size: 20px;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  width: 180px;
  text-align:center;
  background-color: rgba(234,190,55, 0.8);
}
#masinfo:hover{
  background-color: #a8892a;
} 
#masinfo2{
  z-index:0 ;
  position:static;
  margin-top: 40px;
  margin-left: 0;
  font-size: 20px;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  width: 180px;
  text-align:center;
  background-color: rgba(234,190,55, 0.8);
}
#masinfo2:hover{
  background-color: #a8892a;
} 
#textoportada1{
        background-color: rgba(1,1,1,0.7);
        font-family: "Baskerville Old Face";
        position: static;
        width: 800px; 
        margin-top: 40px;
        margin-left: 10%;
        padding:0px 20px 20px;
        color: #fafafa;
      }
      #textoportada1 h2{
        text-align:left;
        color: rgba(234,190,55, 1) ;
        font-size: 50px;
        margin-bottom: 20px;
      }
      #textoportada1 p{
        text-align:left;
        margin: 20px 0;
        font-size: 30px;
      }
        #textoportada2{
          padding:15px;
          box-sizing: border-box;
          background-color: rgba(92,92,92,0.5);
         font-family: "Baskerville Old Face";
         width:600px; 
        position:static;
        margin-top: 80px;
        margin-left: 10%;
        color: #dbdbdb;
      }
        #textoportada2 h2{
          margin-top:0;
        font-size: 50px;
        margin-bottom: 20px;
      }
        #textoportada2 p{
        margin: 20px 0;
        font-size: 30px;
      }
          #textoportada3{
            background-color: rgba(255,255,255,0.7);
          font-family: "Baskerville Old Face";
         width:800px; 
        position:static;
        box-sizing: border-box;
        padding: 15px;
        margin-top: 5%;
        float:right;
        margin-right: 4%;
        color: #fff;

      }
           #textoportada3 h2{
           color:#333333; 
        font-size: 42px;
        margin-top: 0;
        margin-bottom: 20px;
      }
        #textoportada3 p{
        font-family: 'Roboto';
        margin: 0px 0;
        font-size: 30px;
        color:#474747;
        line-height: 35px;
      }
      #textoportada3 span{
        margin:0;
      }


@media all and (min-width: 600px) and (max-width: 1023px) {

#banner_wrap {
  width: 100%;
  height: 350px;
  margin: 0px auto;
  padding: 0;
  position: relative
}

.banner_nav {
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.banner_nav ul li {
  float: left;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 8px 0 0;
  cursor: pointer;
  border-radius: 7px;
  background: rgba(224,224,224,0.8);
}

#banner0 { background-image: url(imagenes/slideUn.jpg);
             background-size:cover;
             background-position: center; }

#banner1 { background-image: url(imagenes/slideDOScel.jpg); 
 background-size:cover;
background-position: bottom left;}

#banner2 { background-image: url(imagenes/slideTREScel.jpg);
 background-size:cover; 
background-position: center;}

#textoportada1{
        font-family: "Baskerville Old Face";
        position: static;
        width: 70%; 
        margin-top: 5%;
        margin-left: 5%;
        color: #fafafa;
      }
      #textoportada1 h2{
        text-align:left;
        font-size: 30px;
        margin-bottom: 0px;
      }
      #textoportada1 p{
        text-align:left;
        margin: 8px 0;
         font-family: 'Roboto', sans-serif;
        color: rgba(234,190,55,1) ;
        font-size: 15px;
      }
        #textoportada2{
         font-family: "Baskerville Old Face";
         width:80%; 
        position:static;
        margin-top: 5%;
        margin-left: 10%;
        color: #dbdbdb;
      }
        #textoportada2 h2{
          
        font-size: 30px;
        margin-bottom: 0px;
      }
        #textoportada2 p{
        margin: 8px 0;
        font-family: 'Roboto', sans-serif;
        color: rgba(234,190,55,1) ;
        font-size: 15px;
      }
          #textoportada3{
          font-family: "Baskerville Old Face";
         width:80%; 
        position:static;
        margin-top: 5%;
        margin-left: 5%;
        color: #dbdbdb;
      }
           #textoportada3 h2{
            
        font-size: 30px;
        margin-bottom: 0px;
      }
        #textoportada3 p{
        margin: 8px 0;
        font-family: 'Roboto', sans-serif;
        color: #333333;
        font-size: 15px;
       
      }
      #masinfo{
  z-index:0 ;
  position:static;
  margin-top: 10px;
  margin-left: 0;
  font-size: 13px;
  color: #fafafa;
  padding:5px;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  width: 100px;
  text-align:center;
  background-color: rgba(234,190,55, 0.8);
}
#masinfo:hover{
  background-color: #a8892a;
} 
#masinfo2{
  z-index:0 ;
  position:static;
  margin-top: 10px;
  margin-left: 0;
  padding:5px;
  font-size: 13px;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  width: 100px;
  text-align:center;
  background-color: rgba(234,190,55, 0.8);
}
#masinfo2:hover{
  background-color: #a8892a;
} 
}



/*Celular*/ 
@media all and (max-width: 599px) {

#banner_wrap {
  width: 100%;
  height: 300px;
  margin: 0px auto;
  padding: 0;
  position: relative
}

.banner_nav {
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.banner_nav ul li {
  float: left;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 8px 0 0;
  cursor: pointer;
  border-radius: 7px;
  background: rgba(224,224,224,0.8);
}

#banner0 { background-image: url(imagenes/slideUn.jpg);
             background-size:cover;
             background-position: center; }

#banner1 { background-image: url(imagenes/slideDOScel.jpg); 
 background-size:cover;
background-position: center;}

#banner2 { background-image: url(imagenes/slideTREScel.jpg);
 background-size:cover; 
background-position: bottom left;}

#textoportada1{
        font-family: "Baskerville Old Face";
        position: static;
        width: 75%; 
        box-sizing: border-box;
        padding-top: 10px;
        margin-top: 15px;
        margin-left: 5%;
        color: #fafafa;
      }
      #textoportada1 h2{
        font-family: 'Roboto', sans-serif;
        margin-top:0px;
        color: #fafafa;
        text-align: left;
        font-size: 18px;
        margin-bottom: 0px;
      }
      #textoportada1 p{
        text-align:left;
        margin: 8px 0;
         font-family: 'Roboto', sans-serif;
        color: rgba(234,190,55,1) ;
        font-size: 13px;
      }
        #textoportada2{
         font-family: "Baskerville Old Face";
         width:80%; 
        position:static;
        margin-top: 20px;
        margin-left: 10%;
        color: #dbdbdb;
      }
        #textoportada2 h2{
          
        font-size: 20px;
        margin-bottom: 0px;
      }
        #textoportada2 p{
        margin: 8px 0;
        font-family: 'Roboto', sans-serif;
        color: rgba(234,190,55,1) ;
        font-size: 13px;
      }
          #textoportada3{
          font-family: "Baskerville Old Face";
         width:80%; 
        position:static;
        margin-top: 20px;
        margin-left: 4%;
        color: #dbdbdb;
      }
           #textoportada3 h2{
            
        font-size: 20px;
        margin-bottom: 0px;
      }
        #textoportada3 p{
        margin: 8px 0;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
        color: #333333 ;
        font-size: 13px;
       
      }
      #masinfo{
  z-index:0 ;
  position:static;
  margin-top: 10px;
  margin-left: 0;
  font-size: 13px;
  color: #fafafa;
  padding:5px;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  width: 100px;
  text-align:center;
  background-color: rgba(234,190,55, 0.8);
}
#masinfo:hover{
  background-color: #a8892a;
} 
#masinfo2{
  z-index:0 ;
  position:static;
  margin-top: 10px;
  margin-left: 0;
  padding:5px;
  font-size: 13px;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  width: 100px;
  text-align:center;
  background-color: rgba(234,190,55, 0.8);
}
#masinfo2:hover{
  background-color: #a8892a;
} 


  }
